.footer {
    text-align: center;

    background-color: $secondaryBgColor;


    @media screen and (min-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: left;
    }
}

.footer__address {
    margin-top: 20px;
    font-style: normal;

    color: $footerAddressColor;

    @media screen and (min-width: 480px) {
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
        width: 231px;
    }

}

.footer__contact-list {
    margin-top: 8px;
}

.footer__contact-list .item:not(:last-child) {
    margin-bottom: 8px;
}

.footer__contact {
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $footerContactColor;
}


.footer__join-block {
    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px) {
    .footer__container {
    display: flex;
    align-items: baseline;
    }

}