.header__navigation {
    
    @media screen and (max-width: 767px) {
        position: fixed;
        background-color: $primaryBgColor;
        padding: 48px 40px;

        
        z-index: 3;
        top: 0;
        width: 480px;
        height: 100vh;

        
        &.is-open {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        width: 100%;
    }

}

.header__site-nav {

    @media screen and (max-width: 767px) {
        .link {

            font-weight: 500;
            font-size: 40px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: $secondaryTitleColor;
        }

        &:hover,
        &:focus {
            color: $linkActiveColor;
        }

        .item {
            margin-right: auto;
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;

        .link {
            display: block;

            padding-top: 32px;
            padding-bottom: 32px;

            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;

            color: $secondaryTitleColor;
        }
    }


    .item:not(:last-child) {
        margin-right: 50px;
    }
    

    .active-page {
        position: relative;
        color: $linkActiveColor;

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;

            content: "";
            display: block;
            width: 100%;
            height: 4px;

            background-color: currentColor;
            border-radius: 2px;
        }
    }

    .item {
        display: block;

    }



}