.header {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    border-bottom: 1px solid $headerBottomBorder;
}

.header__contact {
    @media screen and (max-width: 797px) {
        display: none;        
    }
}

.header__site-nav {

    .link {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $secondaryTitleColor;

        &:hover,
        &:focus {
            color: $linkActiveColor;
        }
    }

    .active-page {
        position: relative;
        color: $linkActiveColor;

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;

            content: "";
            display: block;
            width: 100%;
            height: 4px;

            background-color: currentColor;
            border-radius: 2px;
        }
    }

    .item {
        margin-right: auto;
        margin-bottom: 32px;
    }

}

