.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.logo--blue {
    color: $primaryLogoColor;
}

.footer__logo {
    color: $footerLogoColor;
}

.header__logo {
    color: $headerLogoColor;

    @media screen and (max-width: 767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}