.features {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;

}

.feature__item:not(:last-child) {
    margin-bottom: 30px;
}

.feature__title {
text-transform: uppercase;

margin-bottom: 10px;
}

@each $feature in antenna,
clock,
diagram,
astronaut {
    .feature__#{$feature}::before {
        display: block;
        content: "";
        width: 100%;
        height: 120px;
        margin-bottom: 30px;

        background-color: $sectionBgColor;
        background-image: url(../Images/#{$feature}.svg);
        background-repeat: no-repeat;
        background-size: 70px;
        background-position: center;
    }

}